.company-name{
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: 800;
    font-size: 15pt;
    text-align: center;
    padding: 2px;
}

.company-name-span{
    color: red;
}
.fitness-img {
    width: 100%;
}
.img-div {
    padding-top: 15%;
    text-align: center;
}
.menu-div {
    text-align: center;
    line-height: 0.5;

}
.menu-header {
    background-color: #8C0000;
    height: 100px;
    
}
.left-nav {
    background-color: #C70039;
    color: #fff;
}
.left-container {
    background-color: #8C0000;
}
.left-space-container {
    height: 400px;
    background-color: #8C0000;
}