.table-holder{
    padding: 10px;
}

.header{
    padding: 10px;

    text-align: center;
}
.main-container {
    height: 1000px;
    color: #fff;
}
.table-record{
    display: block;
    width: 100%;

    background-color: rgb(177, 36, 36);
    color: white;

    padding: 10px 0px;

}
.table-record:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-weight: bold;
    color: black;

    border-bottom: 1px solid rgba(0, 0, 0, 0.288);

    background-color: rgb(177, 36, 36) !important;

    pointer-events: none;
}
.data{
    /* width: 15%; */
    text-align: left;
    padding-left: 2em;
    /* left: 15px; */

    border-right: 1px solid rgba(53, 53, 53, 0.315);
}