/* .con-month{
    width: 60%;
} */
.bank{
    width: 100%;
    border-radius: 15px;
}

.btn-sub{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(173, 0, 0) ;
    border-color: rgb(66, 3, 3);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px; 
    width: 25%;   
    margin-right: auto ;
    margin-left: auto ;
    display: block;
}

.btn-sub:hover{
    background: rgb(177, 53, 53);
    border-color: rgb(66, 3, 3);
}

.button-sub{
    align-items: center;
}

.title{
    color: rgb(66, 3, 3);
}
.info{
    color: rgb(173, 0, 0);
}

.input-f{
    border-radius: 10px;
}
/* .main-container {
    height: 1500px;
} */

.table-record{
    display: block;
    width: 100%;

    background-color: rgb(177, 36, 36);
    color: white;

    padding: 10px 0px;

}
.table-record:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-weight: bold;
    color: black;

    border-bottom: 1px solid rgba(0, 0, 0, 0.288);

    background-color: rgb(177, 36, 36) !important;

    pointer-events: none;
}
.data{
    /* width: 15%; */
    text-align: left;
    padding-left: 2em;
    /* left: 15px; */

    border-right: 1px solid rgba(53, 53, 53, 0.315);
}
.sub-title{
    margin-bottom: 15px;
    margin-right: 0px;
    color: #fff;
}